
<h1>Teacher: <%= @teacher.username %></h1>

<ul>
    
    <% @teacher.students.each do |student| %>
    
        <ul>
            <li><%= student.username %></li>
            <ul>

                    <% student.grades.each do |grade| %>
                        <li><%= grade.test.title %>: <%= grade.score %>%</li>
                    <% end %>

            </ul>
        </ul>
    
    <% end %>

    <form action="/teachers/<%= @teacher.username %>" method="GET">
        <input type="submit" value="Return To Profile Page">
    </form>

</ul>